<?xml version="1.0" encoding="UTF-8"?>
<!-- configuration 설정 -->
<configuration>
    <property name="LOG_PATH" value="./logs"/>

    <!-- appender 영역: 로그의 형태를 설정하고 어떤 방법으로 출력할지 설정-->
    <!-- ConsoleAppender: 콘솔에 로그를 출력 -->
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
        <encoder>
            <pattern>[%d{yyyy-MM-dd HH:mm:ss:SSS}] [%-5level] [%thread] %logger %msg%n</pattern>
        </encoder>
    </appender>

    <!-- RollingFileAppender: 여러개의 파일을 순회하면서 로그를 저장 -->
    <!-- <appender name="INFO_LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
        <file>${LOG_PATH}/info.log</file>
        <append>true</append>
        <rollingPolicy class="ch.qos.logback.classic.filter.ThresholdFilter">
            <fileNamePattern>${LOG_PATH}/info_${type}.%d{yyyy-MM-dd}.gz</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>[%d{yyyy-MM-dd HH:mm:ss:SSS}] [%-5level] [%thread] %logger %msg%n</pattern>
        </encoder>
    </appender> -->

    <!-- Root logger -->
    <root level="INFO">
        <appender-ref ref="console"/>
        <!-- <appender-ref ref="INFO_LOG"/> -->
    </root>
</configuration>